@inject MainModel Model
<div>
    <p>Your target heart rate is: @Model.TargetHeartRate</p>
    <p>Your maximum heart rate is: @Model.MaximumHeartRate</p>
</div>
@functions {      
    protected override void OnInit()
    {
        base.OnInit();
        Model.PropertyChanged += (o, e) => StateHasChanged();
    }
}